{{define "content"}}
<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Nothing to show here.</h4>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that
        you can see how spacing within an alert works with this kind of content.</p>
</div>
{{end}}