<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.title}}</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/logo/dole/1144x1024.png">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/app.css" rel="stylesheet"> {{partial "style"}}
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-light">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#app-navbar-collapse"
                aria-controls="app-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/assets/img/logo/dole/1144x1024.png" height="30" class="d-inline-block align-top" alt="DOLE Logo">&nbsp;NMSRS
                Lookup
            </a>
            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <form class="form-inline">
                    <input class="form-control" type="text" placeholder="Search">
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                    <li class="nav-item"><a href="/register" class="nav-link">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {{yield}}
    <script src="/assets/js/jquery-3.1.1.slim.min.js"></script>
    <script src="/assets/js/tether.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/app.js"></script>
    {{partial "script"}}
</body>

</html>