.navbar,
.table-hover thead tr:hover th,
.table-hover tbody tr:hover td {
    background-color: #e3f2fd !important;
}

.table th  {
    border-top: none !important;
}

#preview {
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none !important;
}

.nav-user-photo {
    margin-top: -30.2rem;
    margin-bottom: -30rem;
    margin-right: 0.5rem;
}

.asterisk {
	font-weight: bold;
}

.img-logo {
    height: 12rem;
    margin-bottom: 1.5rem;
}

.navbar-brand {
    padding: 0rem;
}

.navbar-brand img {
    height: 100%;
    padding: 1rem;
    width: auto;
    display: inline;
}

#login_form {
    margin-top: 20%;
}

#search_form_container {
    margin-top: 10%;
}

#search_form {
    margin-top: 2rem;
}

.navbar-default .navbar-nav .open a.dropdown-toggle:focus,
.navbar-default .navbar-nav .open a.dropdown-toggle:link {
    background-color: #d4eafb;
}

.modal-title {
    font-weight: bold;
}

.panel-actions {
    margin-bottom: 1.5rem;
}