.py-logo {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar-light,
.card-header,
.table-hover thead tr:hover th,
.table-hover tbody tr:hover td {
    background-color: #e3f2fd;
}

.table th  {
    border-top: none !important;
}