<!DOCTYPE html>

{{justForFun}}

<html lang="{{config.app.lang}}">

<head>
    <meta charset="{{config.app.charset}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{config.app.description}}">
	<meta name="keywords" content="{{config.app.keywords}}">
	<meta name="author" content="{{config.app.author.username}}">
    <title>{{.title}}</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.ico">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/product-sans.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-lumen.min.css" rel="stylesheet">
    <!--<link href="/assets/css/select2.min.css" rel="stylesheet">-->
    <!--<link href="/assets/css/select2-bootstrap.min.css" rel="stylesheet">-->
    {{partial "stylesheet"}}
    <link href="/assets/css/app.css" rel="stylesheet">
    {{partial "css"}}
</head>

<body>
    {{partial "header"}}
    {{yield}}
    {{partial "footer"}}
    <script src="/assets/js/jquery/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!--<script src="/assets/js/parsley/parsley.config.js"></script>-->
    <!--<script src="/assets/js/parsley/parsley.min.js"></script>-->
    <!--<script src="/assets/js/select2/select2.config.js"></script>-->
    <!--<script src="/assets/js/select2/select2.full.min.js"></script>-->
    <!--<script src="/assets/js/moment.min.js"></script>-->
    <!--<script src="/assets/js/livestamp.min.js"></script>-->
    {{partial "script"}}
    <script src="/assets/js/app/app.js"></script>
    <!--<script src="/assets/js/app/app.wizard.select2.js"></script>-->
    <!--<script src="/assets/js/app/app.wizard.js"></script>-->
    <!--<script src="/assets/js/app/app.wizard.forms.js"></script>-->
    {{partial "js"}}
</body>

</html>