<!DOCTYPE html>
<html lang="{{config.app.lang}}">

<head>
    <meta charset="{{config.app.charset}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{config.app.description}}">
    <meta name="keywords" content="{{config.app.keywords}}">
    <meta name="author" content="{{config.app.author.username}}">
    <title>{{.title}}</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.ico">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/product-sans.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-lumen.min.css" rel="stylesheet">
    <link href="/assets/css/select2.min.css" rel="stylesheet">
    <link href="/assets/css/select2-bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/assets/css/app.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app_navbar_collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img alt="{{config.app.name}}" src="/assets/img/logo/dole/1144x1024.png"><span>{{config.app.name}}</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="app_navbar_collapse">
                {{with .authUser}}
                <form action="/search" method="GET" class="form-inline navbar-form navbar-left" role="search" id="navbar_search_form">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" id="q" data-provide="typeahead" autocomplete="off">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-info" role="button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
                {{if .IsAdmin}}
                <ul class="nav navbar-nav">
                    <li><a href="/users">Users</a></li>
                    <li><a href="/registrants">Registrants</a></li>
                </ul>
                {{end}} {{end}}
                <ul class="nav navbar-nav navbar-right">
                    {{with .authUser}}
                    <li class="dropdown nav-user">
                        <a href="/{{.Id.Hex}}" class="dropdown-toggle" id="drop_down_{{.Id.Hex}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{if .HasPhoto}}{{photoPath .Id.Hex `User`}}{{else}}{{config.default.photo.path}}{{end}}" class="img-rounded" height="30" alt="{{.Name}}">{{.Name}}<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="drop_down_id">
                            <li><a href="/{{.Id.Hex}}">Your profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                    {{else}}
                    <li><a href="/login">Login</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {{with .alert}}{{.}}{{end}}
        <div class="row">
            <div class="col-lg-4 wizard">
                <ul class="nav nav-pills nav-stacked" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#step-1" data-toggle="tab" role="tab">
                            <i class="fa fa-user-o"></i> Registrant Profile
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step-2" data-toggle="tab" role="tab">
                            <i class="fa fa-graduation-cap"></i> Formal Education
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step-3" data-toggle="tab" role="tab">
                            <i class="fa fa-id-card-o"></i> Professional License
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step-4" data-toggle="tab" role="tab">
                            <i class="fa fa-gavel"></i> Eligibility
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step-5" data-toggle="tab" role="tab">
                            <i class="fa fa-file-text-o"></i> Vocational/Technical Training And Relevant Experience
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step-6" data-toggle="tab" role="tab">
                            <i class="fa fa-certificate"></i> Certificate Of Competence
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step-7" data-toggle="tab" role="tab">
                            <i class="fa fa-briefcase"></i> Work Experience
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step-8" data-toggle="tab" role="tab">
                            <i class="fa fa-file-o"></i> Other Skills Aquired Without Formal Training
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step-9" data-toggle="tab" role="tab">
                            <i class="fa fa-check"></i> Certification/Authorization
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                {{yield}}
            </div>
        </div>
        <footer class="footer">
            <p class="text-center text-muted">
                <i class="fa fa-copyright"></i> {{config.app.copyright.year}} {{config.app.description}}
            </p>
        </footer>
    </div>
    <script src="/assets/js/jquery/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap3-typeahead.min.js"></script>
    <script src="/assets/js/jquery/url.min.js"></script>
    <script src="/assets/js/parsley/parsley.config.js"></script>
    <script src="/assets/js/parsley/parsley.min.js"></script>
    <script src="/assets/js/parsley/parsley.event.js"></script>
    <script src="/assets/js/select2/select2.config.js"></script>
    <script src="/assets/js/select2/select2.full.min.js"></script>
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/livestamp.min.js"></script>
    <script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/js/app/app.search.js"></script>
    <script src="/assets/js/app/app.js"></script>
    <script src="/assets/js/app/app.wizard.select2.js"></script>
    <script src="/assets/js/app/app.wizard.js"></script>
    <script src="/assets/js/app/app.wizard.form.js"></script>
    <script src="/assets/js/app/app.wizard.modal.js"></script>
    {{partial "js"}}
</body>

</html>